---
---

<!doctype html>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>CEE - {{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" />
    <link rel="stylesheet" href="{{ 'style.css' | relative_url }}" />
  </head>
  
  <body>
    <div class="MainContainer">
      <header class="Header">
        <div class="HeaderBrand">
          <p class="HeaderBrandLogo">
            <img src="https://elveotie.github.io/images/gouvernement/cee.svg" alt="Logo de la CEE" />
          </p>

          <a class="HeaderBrandLink" href="{{ '/' | relative_url }}">
            <h1 class="HeaderBrandText">
              Chambre des Entreprises Elvéotiques <br>
              <span>Dynamiser le Royaume</span>
            </h1>
          </a>
        </div>

        {% include header-nav.html %}
      </header>

      <div class="Page">
        <main class="PageMain">
          <h2 class="PageTitle">{{ page.title }}</h2>
          {{ content }}
        </main>
      </div>

      <footer class="Footer">
        <p>&copy; Chambre des Entreprises Elvéotiques, 2019</p>
        {% include footer-links.html %}
      </footer>
    </div>
  </body>
</html>
